.DS_Store
.idea
build
dist
lib
*.log
.temp
temp
package-lock.jsom

*/node_modules/**/*
node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.mobileprovision
package-lock.json
.expo
flow-typed
DATA
.generated
__pycache__
librosa_cache
