.DS_Store
.idea
lib
*.log
.temp
temp
package-lock.jsom

*/node_modules/**/*
node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
package-lock.json
.expo
flow-typed
DATA
.generated

package-lock.json
# Remove build products

build/audio/
public/audio/

